body, ul {
    margin: 0;
    padding: 0;
}

.support-online {
    position: fixed;
    z-index: 999;
    left: 20px;
    bottom: 20px;
}

.support-online ul li {
    list-style: none;
}

.support-online a.hotro_phone {
    background-color: #4EB625;
}

.support-online a.hotro_facebook {
    background-color: #0084ff;
}

.support-online a.hotro_zalo {
    background-color: #18b6fd;
}

.support-online a .box_iconsvg {
    background-color: #dd1818;
    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.support-online a>svg {
    margin-top: 0.7em;
}

.support-online a .box_iconsvg>svg {
    margin-top: 0.8em;

    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;

    transform-origin: 50% 50%;
}

.support-online a {

    position: relative;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    margin-bottom: 1em;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.alo-circle {
    width: 60px;
    height: 60px;
    top: -7px;
    left: -7px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, .4);
    border-color: #dd1818;
    opacity: .5;
}

.zoomIn {
    animation-name: zoomIn;
}

.alo-circle-fill {
    width: 65px;
    height: 65px;
    top: -10px;
    left: -10px;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #dd1818c2;
    opacity: .75;
}

.pulse {
    animation-name: pulse;
}

.support-online a .box_iconsvg>svg {
    margin-top: 0.8em;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .2);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .2)
    }

    70% {
        -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 60px rgba(255, 255, 255, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.support-online a span {
    border-radius: 2px;
    text-align: center;
    background: #dd1818;
    padding: 6px 5px 6px 0;
    display: none;
    width: 140px;
    margin-left: 20px;
    position: absolute;
    color: #fff;
    z-index: 999;
    top: 0.3em;
    left: 43px;
    animation: headerAnimation .7s 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.support-online a:hover span {
    display: block
}

.support-online a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 18px 18px 0;
    border-color: transparent #dd1818 transparent transparent;
    position: absolute;
    left: -18px;
    top: 0px;
}

.btn_hotline {
    background-color: #dd3333 !important;
    border-radius: 99px;
}

@media (max-width:425px) {
    .support-online ul {
        padding: 0;
        margin: 0;
    }

    .support-online {
        left: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0.4rem;
        background-color: #c01e2c;
        z-index: 999;
    }

    .support-content {
        display: flex;
        margin-bottom: 0;
    }

    .support-content li {
        text-align: center;
        font-size: 13.5px;
        margin: 0;
        display: inline-block;
        flex-grow: 1;
    }

    .support-content li a {
        width: auto;
        height: auto;
        background-color: transparent !important;
        border-radius: inherit;
        margin-bottom: 0;
    }

    .support-content li a {
        width: auto;
        height: auto;
        background-color: transparent !important;
        border-radius: inherit;
        margin-bottom: 0;
    }

    .support-content li a span {
        display: block;
        width: auto;
        padding: 0;
        background-color: transparent;
        position: relative;
        margin: 0;
        left: 0;
    }

    .support-online a span {
        border-radius: 2px;
        text-align: center;
        background: #dd1818;
        color: #fff;
        z-index: 999;
        top: 0.3em;

        animation: headerAnimation .7s 1;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .support-online a>svg {
        animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    }

    @-webkit-keyframes quick-alo-circle-img-anim {
        0% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }
    }

    .support-online a .box_iconsvg {
        background-color: transparent;
        position: relative;
        text-align: center;
        width: auto;
        height: auto;
        border-radius: inherit;
    }

    .alo-circle {
        display: none;
    }

    .alo-circle-fill {
        display: none;
    }

    .support-online a span:before {
        display: none;
    }
}